<div class="card">
    <header class="card-header">
        <p class="card-header-title">
            <a class="link" href="/post/{{id}}">{{title}}</a>
            ---Posted by {{user.username}} on {{format_date created_at}}
        </p>
    </header>
    <div class="card-content">
        <div class="content">
            <p>{{content}}</p> 
        </div>
    </div>
</div>